{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

	<div class="container">
		{{ form_start(loginForm, {'attr': {'class': 'form-horizontal'} }) }}
			<h2>Please sign in or register</h2>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					{{ form_widget(loginForm.email, {'attr': {'class':'form-control', 'placeholder':'Email'} }) }}
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					{{ form_widget(loginForm.password, {'attr': {'class':'form-control', 'placeholder':'Password'} }) }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							{{ form_widget(loginForm.remember_me) }} Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					{{ form_widget(loginForm.submit, { 'attr': {'class': 'btn btn-default'}, 'label': 'Sign in' }) }}
				</div>
			</div>
		</form>
	</div>

{% endblock body %}